*.iml
.DS_Store
.attach_pid*
.cxx
.externalNativeBuild
.gradle
.kotlin
/.idea/androidTestResultsUserPreferences.xml
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/dictionaries
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/build
/captures
/local.properties
README.html
fastlane/Appfile
fastlane/README.md
fastlane/report.xml
local.properties
